@page "/Items/Create"

@using Microsoft.AspNetCore.Mvc.ModelBinding
@using SimpleDataManagementSystem.Frontend.Web.Razor.ViewModels.Read

@model SimpleDataManagementSystem.Frontend.Web.Razor.Pages.Items.CreateItemModel

@{
    ViewData["Title"] = "Create Item";
}

<h1>Create Item</h1>

<br />


@await Component.InvokeAsync("InvalidModelState", ModelState)


@* TODO error display *@
@if (Model.Error != null)
{
    <div style="text-align:center;">
        <label style="color:red;">
            <b>
                @Model.Error.Error.Message
            </b>
        </label>
    </div>

    <br />
}


<div style="border:1px solid black; margin:auto;width:70%; text-align:center;padding:20px;">
    <form method="post" enctype="multipart/form-data">
        <label for="nazivproizvoda">Naziv proizvoda:</label>
        <br />
        <input name="nazivproizvoda" />

        <br />
        
        <label for="opis">Opis:</label>
        <br />
        <input name="opis" />

        <br />
        
        <label for="datumakcije">Datum akcije:</label>
        <br />
        <input name="datumakcije" />
        
        <br />

        @* retailer *@
        <label for="retailerId">Retailer</label>
        <br />
        <select name="retailerId">
            @if (Model.AvailableRetailers != null)
            {
                @foreach (var r in Model.AvailableRetailers.Retailers)
                {
                    <option name="retailerId" value="@r.ID">@r.Name</option>
                }
            }
        </select>

        <br />

        <label for="cijena">Cijena:</label>
        <br />
        <input type="number" name="cijena" step=".01" />

        <br />

        @* kategorija *@
        <label for="kategorija">Kategorija</label>
        <br />
        <select name="kategorija">
            @if (Model.AvailableCategories != null)
            {
                @foreach (var r in Model.AvailableCategories.Categories)
                {
                    <option name="kategorija" value="@r.ID">@r.Name</option>
                }
            }
        </select>

        <br />
        <br />

        <label for="URLdoslike">Thumbnail:</label>
        
        <br />

        <div style="display: none;">
            <img id="thumbnail" style="width:300px; height:300px; max-width:300px; max-height:300px;" />
            <br />
        </div>
        
        <br />

        <input type="file" name="URLdoslike" onchange="loadThumbnail(event)" />

        <br />
        <br />

        <button type="submit">Create</button>
    </form>
</div>

@section scripts {
    
    @*
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    *@

    <script>
        var loadThumbnail = function (event) {
            var output = document.getElementById('thumbnail');

            output.parentElement.style.display = '';

            output.src = URL.createObjectURL(event.target.files[0]);
            output.onload = function () {
                URL.revokeObjectURL(output.src) // free memory
            }
        };
    </script>
}