@page "/Items/{ItemId}/Delete"

@using SimpleDataManagementSystem.Frontend.Web.Razor.Pages.ViewComponents

@model SimpleDataManagementSystem.Frontend.Web.Razor.Pages.Items.DeleteItemModel

@using Microsoft.Extensions.Localization
@inject IStringLocalizer<DeleteItemModel> loc

@{
    ViewData["Title"] = loc["Delete item"] + " - '" + (Model?.Model?.Item?.Nazivproizvoda ?? "-") + "'";
}

<div class="header">
    <h1>@loc["Delete item"] - '<b>@Model?.ItemId</b>'</h1>
</div>


<br />


<div class="content-container">

    <!-- #region DisplayError -->
    @await Component.InvokeAsync(typeof(DisplayErrorViewComponent), Model?.Error)
    <!-- #endregion DisplayError -->

    <br>

    @if (Model?.Model != null)
    {
        <form method="post">
            <div class="readonly-form-controls-container">
                <div class="readonly-form-controls">

                    <div class="port-side">
                        <div class="readonly-control single-per-line">
                            <div>
                                <label>@loc["Naziv proizvoda"]:</label>
                            </div>
                            <div>
                                <em>
                                    <label>@Model?.Model?.Item?.Nazivproizvoda</label>
                                </em>
                            </div>
                        </div>

                        <br>

                        <div class="readonly-control single-per-line">
                            <div>
                                <label>@loc["Opis"]:</label>
                            </div>
                            <div>
                                <em>
                                    <label>@Model?.Model?.Item?.Opis</label>
                                </em>
                            </div>
                        </div>

                        <br>

                        <div class="readonly-control single-per-line">
                            <div>
                                <label>@loc["Cijena"]:</label>
                            </div>
                            <div>
                                <em>
                                    <label>@Model?.Model?.Item?.Cijena.ToString("0.00", System.Globalization.CultureInfo.InvariantCulture)</label>
                                </em>
                            </div>
                        </div>

                        <br>

                        <div class="readonly-control single-per-line">
                            <div>
                                <label>@loc["Enabled"]:</label>
                            </div>
                            <div>
                                <em>
                                    <label>@(Model?.Model?.Item?.IsEnabled.ToString().ToLower() == "true" ? "Yes" : "No")</label>
                                </em>
                            </div>
                        </div>

                        <br>

                        <div class="readonly-control single-per-line">
                            <div>
                                <label>@loc["Datum akcije"]:</label>
                            </div>
                            <div>
                                <em>
                                    <label>@Model?.Model?.Item?.Datumakcije</label>
                                </em>
                            </div>
                        </div>

                        <br>

                        <div class="readonly-control single-per-line">
                            <div>
                                <label>@loc["Kategorija"]:</label>
                            </div>
                            <div>
                                <em>
                                    <label>@Model?.Model?.Item?.Category?.Name</label>
                                </em>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="starboard-side">
                        <div class="image-readonly-control">
                            <img height="300"
                                 width="300"
                                 id="thumbnailPreview"
                                 src="@(Model?.Model?.Item?.URLdoslike == null ?
                                        "/Resources/image_not_available.png"
                                        :
                                        Model.Model.Item?.URLdoslike)" />
                        </div>
                    </div>

                </div>

                <br>

                <div class="flex-justify-center">
                    <button class="button-danger" type="submit">
                        @loc["Delete"]
                    </button>
                </div>
            </div>
        </form>
    }
</div>
