@page "/Items/{ItemId}/Edit"

@using SimpleDataManagementSystem.Frontend.Web.Razor.Pages.ViewComponents
@model SimpleDataManagementSystem.Frontend.Web.Razor.Pages.Items.EditItemModel

@using Microsoft.Extensions.Localization
@inject IStringLocalizer<EditItemModel> loc

@{
    ViewData["Title"] = "Edit item - '" + (Model?.Item?.Item.Nazivproizvoda ?? "-") + "'";
}

<div class="header">
    <h1>@loc["Edit item"] - '<b>@Model?.Item?.Item.Nazivproizvoda</b>'</h1>
</div>


<br>


<div class="content-container">

    <!-- #region DisplayError -->
    @await Component.InvokeAsync(typeof(DisplayErrorViewComponent), Model?.Error)
    <!-- #endregion DisplayError -->

    <!-- #region ModelStateValidationErrors -->
    @await Component.InvokeAsync(typeof(InvalidModelStateViewComponent), ModelState)
    <!-- #endregion ModelStateValidationErrors -->

    <br>

    @if (Model?.Item != null)
    {
        <form method="post" enctype="multipart/form-data">
            <div class="form-controls-container">
                <div class="form-controls">

                    <div class="port-side">
                        <div class="input-control single-per-line">
                            <div>
                                <label for="opis">@loc["Opis"]:</label>
                            </div>
                            <div>
                                <textarea name="opis"
                                          type="text"
                                          id="opis"
                                          spellcheck="false">@Model.Item.Item.Opis</textarea>
                            </div>
                        </div>

                        <br>

                        <div class="input-control single-per-line">
                            <div>
                                <label for="datumakcije">@loc["Datum akcije"]:</label>
                            </div>
                            <div>
                                <input name="datumakcije" type="text" id="datumakcije" value="@Model.Item.Item.Datumakcije" />
                            </div>
                        </div>
                        
                        <br>

                        <div class="input-control single-per-line">
                            <div>
                                <label for="isMonitoredByUser">@loc["Monitoring"]:</label>
                            </div>
                            <div>
                                @if (Model.Item.Monitoring.IsMonitoredByUser)
                                {
                                    <input type="checkbox"
                                           data-val="true"
                                           data-val-required="The monitoring field is required."
                                           id="isMonitoredByUser"
                                           name="isMonitoredByUser"
                                           value="true"
                                           checked>

                                    <input name="isMonitoredByUser"
                                           type="hidden"
                                           value="false">
                                }
                                else
                                {
                                    <input type="checkbox"
                                           data-val="true"
                                           data-val-required="The monitoring field is required."
                                           id="isMonitoredByUser"
                                           name="isMonitoredByUser"
                                           value="true">

                                    <input name="isMonitoredByUser"
                                           type="hidden"
                                           value="false">
                                }
                            </div>
                        </div>

                        <br />

                        <div class="input-control single-per-line">
                            <div class="required">
                                <label for="cijena">@loc["Cijena"]:</label>
                            </div>
                            <div>
                                <input 
                                    name="cijena" type="number" id="cijena" 
                                    value="@Model.Item.Item.Cijena.ToString("0.00", System.Globalization.CultureInfo.InvariantCulture)" 
                                />
                            </div>
                        </div>

                        <br>

                        <div class="input-control single-per-line">
                            <div>
                                <label for="isEnabled">@loc["Enabled"]:</label>
                            </div>
                            <div>
                                @if (Model.Item.Item.IsEnabled)
                                {
                                    <input type="checkbox"
                                           data-val="true"
                                           data-val-required="The IsEnabled field is required."
                                           id="IsEnabled"
                                           name="IsEnabled"
                                           value="true"
                                           checked
                                    >

                                    <input name="IsEnabled"
                                           type="hidden"
                                           value="false">
                                }
                                else
                                {
                                    <input type="checkbox"
                                           data-val="true"
                                           data-val-required="The IsEnabled field is required."
                                           id="IsEnabled"
                                           name="IsEnabled"
                                           value="true"
                                    >

                                    <input name="IsEnabled"
                                           type="hidden"
                                           value="false">
                                }
                            </div>
                        </div>

                        <br>

                        <div class="input-control single-per-line">
                            <div class="required">
                                <label for="retailer">@loc["Retailer"]:</label>
                            </div>
                            <div>
                                <select id="retailer" name="retailerId">
                                    @foreach (var r in Model.AvailableRetailers.Retailers)
                                    {
                                        <option value="@r.Id" selected="@(r.Id == Model.Item.Item.Retailer.Id)">@r.Name</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <br>

                        <div class="input-control single-per-line">
                            <div class="required">
                                <label for="kategorija">@loc["Category"]:</label>
                            </div>
                            <div>
                                <select id="kategorija" name="kategorija">
                                    @foreach (var c in Model.AvailableCategories.Categories)
                                    {
                                        <option value="@c.Id" selected="@(c.Id == Model.Item.Item.Category.Id)">@c.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="starboard-side">
                        <div class="image-control">
                            <div>
                                <label>@loc["Thumbnail"]:</label>
                            </div>
                            <div id="thumbnail">
                                <div style="position: relative">
                                    <div class="thumbnail-preview-container">
                                        <img 
                                            height="300" 
                                            width="300" 
                                            id="thumbnailPreview"
                                            src="@(Model.Item.Item.URLdoslike == null ? 
                                                        "/Resources/image_not_available.png" 
                                                        : 
                                                        Model.Item.Item.URLdoslike)" />
                                    </div>

                                    <div class="thumbnail-preview-delete-control @(Model.Item.Item.URLdoslike ?? " element-invisible-no-space ")"
                                         style="position:absolute; top:5px; right: 5px;">
                                        <button type="button" style="border:none;
                                                cursor:default;
                                                background-color: transparent;
                                                background-repeat: no-repeat;
                                                border: none;
                                                overflow: hidden;
                                                outline: none;">
                                            <i @(Model.Item.Item.URLdoslike != null ? 
                                                    $"onclick=deleteImage('{Model.ItemId}')" 
                                                    :
                                                    $"onclick=removePreview(event)")
                                                style="cursor: pointer;" 
                                                class="fa-solid fa-circle-xmark fa-lg"
                                            >
                                            </i>
                                        </button>
                                    </div>
                                </div>

                                <div class="thumbnail-upload-control @(Model.Item.Item.URLdoslike != null ? " element-invisible-no-space " : "")">
                                    <div>
                                        <label id="thumbnailAddOrUpdate">@loc["Add new thumbnail"]:</label>
                                    </div>
                                    <div>
                                        <input id="thumbnailUpload" type="file" name="URLdoslike" onchange="loadThumbnailPreview(event)" />
                                        @if (Model.Item.Item.URLdoslike != null)
                                        {
                                            <input name="deleteCurrentURLdoslike" hidden value="false" />
                                        }
                                    </div>
                                </div>
                            </div>

                            <br />

                        </div>
                    </div>

                </div>

                <br>

                <div class="flex-justify-center">
                    <button class="button-default" type="submit">
                        @loc["Update"]
                    </button>
                </div>
            </div>
        </form>
    }
</div>


@section scripts {

    <script>
        function deleteImage(itemId) {

            var el = document.getElementsByName('deleteCurrentURLdoslike')[0];
            el.value = true;

            removePreview(null);
        }
    </script>

    <script>
        function removePreview(event) {
            var img = document.getElementById('thumbnailPreview');
            img.removeAttribute('src');
            img.src = "/Resources/image_not_available.png";

            var input = document.getElementById('thumbnailUpload').value = "";

            // TODO toggle this control (function)
            var thumbnailUploadControl = document.getElementsByClassName('thumbnail-upload-control')[0];
            thumbnailUploadControl.classList.remove('element-invisible-no-space');

            // TODO toggle this control (function)
            var thumbnailPreviewDeleteControl = document.getElementsByClassName('thumbnail-preview-delete-control')[0];
            thumbnailPreviewDeleteControl.classList.add('element-invisible-no-space');
        }
    </script>

    @* TODO put in .JS *@
    <script>
        var loadThumbnailPreview = function (event) {
            
            // TODO toggle this control (function)
            var thumbnailUploadControl = document.getElementsByClassName('thumbnail-upload-control')[0];
            thumbnailUploadControl.classList.add('element-invisible-no-space');

            // TODO toggle this control (function)
            var thumbnailPreviewDeleteControl = document.getElementsByClassName('thumbnail-preview-delete-control')[0];
            thumbnailPreviewDeleteControl.classList.remove('element-invisible-no-space');

            var output = document.getElementById('thumbnailPreview');
            output.src = URL.createObjectURL(event.target.files[0]);
            output.onload = function() {
                URL.revokeObjectURL(output.src) // free memory
            }
        };
    </script>
}