@page "/Items"

@model SimpleDataManagementSystem.Frontend.Web.Razor.Pages.Items.ItemsModel

@using SimpleDataManagementSystem.Frontend.Web.Razor.Pages.ViewComponents
@using System.Web
@using System.Security.Claims

@{
    ViewData["Title"] = "Items";
}

<h1>Items</h1>

<br />


@if (User?.Claims?.Where(x => x.Type == ClaimTypes.Role)?.FirstOrDefault()?.Value == "Admin"
   ||
    User?.Claims?.Where(x => x.Type == ClaimTypes.Role)?.FirstOrDefault()?.Value == "Employee"
   )
{
    <div style="display:flex; justify-content:space-between;">
        <a href="/Items/Create"><button>Create</button></a>
    </div>

    <hr />
}

<div>
    <table>
        <thead>
            <tr>
                <th>
                    Naziv proizvoda
                </th>
                <th>
                    Opis
                </th>
                <th>
                    Datum akcije
                </th>
                <th>
                    Naziv retailera
                </th>
                <th>
                    Cijena
                </th>
                <th>
                    Thumbnail
                </th>
                <th>
                    Category ID
                </th>
                @if (User?.Claims?.Where(x => x.Type == ClaimTypes.Role)?.FirstOrDefault()?.Value == "Admin"
                    ||
                    User?.Claims?.Where(x => x.Type == ClaimTypes.Role)?.FirstOrDefault()?.Value == "Employee"
                    )
                {
                    <th>
                        Management
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @if (Model.Items != null)
            {
                @foreach (var item in Model.Items.Items)
                {
                    <tr>
                        <td>
                            @* TODO details page: 
                                <a href="/Items/@Uri.EscapeDataString(item.Nazivproizvoda)/Details">@item.Nazivproizvoda</a>
                            *@
                            @item.Nazivproizvoda
                        </td>
                        <td>
                            @(string.IsNullOrEmpty(item.Opis) ? "-" : item.Opis)
                        </td>
                        <td>
                            @(string.IsNullOrEmpty(item.Datumakcije) ? "-" : item.Datumakcije)
                        </td>
                        <td>
                            @item.Nazivretailera
                        </td>
                        <td>
                            @item.Cijena
                        </td>
                        @if (string.IsNullOrEmpty(item.URLdoslikeUri))
                        {
                            <td>
                                <img height=64 width=64 src="/Resources/image_not_available.png" alt="image not available" />
                            </td>
                        }
                        else
                        {
                            <td>
                                <img height=64 width=64 src="@item.URLdoslikeUri" alt="@System.IO.Path.GetFileNameWithoutExtension(@item.URLdoslikeUri)" />
                            </td>
                        }
                        <td>
                            @(item.Kategorija == null ? "-" : item.Kategorija)
                        </td>
                        @if (User?.Claims?.Where(x => x.Type == ClaimTypes.Role)?.FirstOrDefault()?.Value == "Admin"
                           ||
                            User?.Claims?.Where(x => x.Type == ClaimTypes.Role)?.FirstOrDefault()?.Value == "Employee"
                           )
                        {
                            <td>
                                <div class="options @item.Nazivproizvoda">
                                    <a href="/Items/@Uri.EscapeDataString(item.Nazivproizvoda)/Edit"><button type="button">Edit</button></a>
                                    |
                                    <button class="delete" id="@item.Nazivproizvoda" onclick="deleteItem(this);">Delete</button>
                                </div>

                                <div class="confirm @item.Nazivproizvoda" style="display:none;">
                                    Confirm:
                                    <form method="post">
                                        @Html.AntiForgeryToken()
                                        <button type="button" onclick="confirmDelete('@item.Nazivproizvoda');">Yes</button>
                                    </form>
                                    <button onclick="cancelDelete(this);">No</button>
                                </div>
                            </td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
</div>


<!-- #region Pagination -->
@await Component.InvokeAsync(typeof(PagerViewComponent), Model.Items?.PageInfo)
<!-- #endregion Pagination -->


@section scripts {
    <script>

        function deleteItem(element) {
            var td = $(element).closest("td");
            td.children(".options").css("display", "none");
            td.children(".confirm").css("display", "");
        }

        function confirmDelete(itemId) {
            var token = $('input[name="__RequestVerificationToken"]').val();
            
            var encUri = encodeURIComponent(itemId);

            $.ajax({
                type: "POST",
                url: "/Items/" + encUri + "/Delete/?handler=DeleteItem",
                data: {
                    __RequestVerificationToken: token,
                },
                success: function (r) {
                    var el = document.getElementById(itemId);
                    $(el).closest("tr").remove();
                    showSnackbar("Item deleted successfully");
                },
                error: function (xhr, status, error) {
                    // TODO display error on screen - TOAST
                    console.log(xhr.responseText);
                    console.log(status);
                    console.log(error);
                }
            });
        }

        function cancelDelete(element) {
            var td = $(element).closest("td");
            td.children(".confirm").css("display", "none");
            td.children(".options").css("display", "");
        }

    </script>
}