@page "/Retailers"

@model SimpleDataManagementSystem.Frontend.Web.Razor.Pages.Retailers.RetailersModel

@using SimpleDataManagementSystem.Frontend.Web.Razor.Pages.ViewComponents
@using System.Security.Claims
@using SimpleDataManagementSystem.Shared.Common.Constants

@using Microsoft.Extensions.Localization
@inject IStringLocalizer<RetailersModel> loc

@{
    ViewData["Title"] = loc["Retailers"];
}

<div class="header">
    <h1>@loc["Retailers"]</h1>
</div>


<br>

<div class="menu">
    <div>
        @if (
            PermissionsHelper.IsInRole
            (
                Roles.Admin,
                User.Claims?.Where(x => x.Type == ClaimTypes.Role)?.FirstOrDefault()?.Value!
            )
            ||
            PermissionsHelper.IsInRole
            (
                Roles.Employee,
                User.Claims?.Where(x => x.Type == ClaimTypes.Role)?.FirstOrDefault()?.Value!
            )
        )
        {
            <a href="/Retailers/Create"><button class="button-default" type="button">@loc["Create"]</button></a>
        }
    </div>

    @* <div class="spacer">
    </div> *@

    @* <div style="display: flex; flex-direction: row;">
    <form method="get" asp-page="/Items/Search">
    <input name="searchQuery"
    style="outline: none; flex-grow: 2; border: none; border-bottom: 1px solid gainsboro;" />
    <button type="submit" style="border: none; border-bottom: 1px solid gainsboro; background-color: white;">
    <i class="fa-solid fa-magnifying-glass"></i>
    </button>
    </form>
    </div> *@
</div>


<br>

<div class="table-default">
    <table style="table-layout: fixed; width: 100%;">
        <thead>
            <tr>
                <th>ID</th>
                <th>@loc["Name"]</th>
                <th>@loc["Priority"]</th>
                <th>@loc["Logo"]</th>
                @if (
                    PermissionsHelper.IsInRole
                    (
                        Roles.Admin,
                        User.Claims?.Where(x => x.Type == ClaimTypes.Role)?.FirstOrDefault()?.Value!
                    )
                    ||
                    PermissionsHelper.IsInRole
                    (
                        Roles.Employee,
                        User.Claims?.Where(x => x.Type == ClaimTypes.Role)?.FirstOrDefault()?.Value!
                    )
                )
                {
                    <th>@loc["Management"]</th>
                }
            </tr>
        </thead>
        <tbody>
            @if (Model?.Model?.Retailers != null)
            {
                @foreach (var r in Model.Model.Retailers)
                {
                    <tr style="max-height: 70px; height:70px;">
                        <td>@r.Id</td>
                        <td>@r.Name</td>
                        <td>@r.Priority</td>
                        <td>
                            <img width="64" height="64"
                                 src="@(r.LogoImageUrl != null ? r.LogoImageUrl : "/resources/image_not_available.png")" 
                            />
                        </td>
                        @if (
                            PermissionsHelper.IsInRole
                            (
                                Roles.Admin,
                                User.Claims?.Where(x => x.Type == ClaimTypes.Role)?.FirstOrDefault()?.Value!
                            )
                            ||
                            PermissionsHelper.IsInRole
                            (
                                Roles.Employee,
                                User.Claims?.Where(x => x.Type == ClaimTypes.Role)?.FirstOrDefault()?.Value!
                            )
                        )
                        {
                            <td class="options">
                                <a href="/Retailers/@r.Id/Details" title="@loc["Details"]">
                                    <i class="fa-solid fa-circle-info"></i>
                                </a>
                                <span>&nbsp;</span>
                                <span>&nbsp;</span>
                                <a href="/Retailers/@r.Id/Edit" title="@loc["Edit"]">
                                    <i class="fa-solid fa-pen"></i>
                                </a>
                                <span>&nbsp;</span>
                                <span>&nbsp;</span>
                                <a href="/Retailers/@r.Id/Delete" title="@loc["Delete"]">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>

    @if (Model?.Model?.Retailers?.Count == 0)
    {
        <div class="no-data">
            @loc["No data to show."]
        </div>
    }

</div>

<!-- #region Pagination -->
@await Component.InvokeAsync(typeof(PagerViewComponent), Model?.Model?.PageInfo)
<!-- #endregion Pagination -->
