@page

@using System.Security.Claims
@using SimpleDataManagementSystem.Shared.Common.Constants

@model SimpleDataManagementSystem.Frontend.Web.Razor.Pages.Shared._MenuModel

@{
}

<div class="container" style="margin-top: 10px; margin-bottom:10px;">
    <a href="/" class="logo navbarItem">
        <img src="/favicon.ico" alt="logo" />
    </a>

    <div class="hamb">
        <button type="button" onclick="onHambToggle(this)">
            <span>&equiv;</span>
        </button>
    </div>

        <div class="links collapsed not-collapsed" id="navBarLinks">
    @if (User.Identity.IsAuthenticated)
    {
            @if (
                PermissionsHelper.IsInRole
                (
                    Roles.Admin,
                    User.Claims?.Where(x => x.Type == ClaimTypes.Role)?.FirstOrDefault()?.Value!
                )
                ||
                PermissionsHelper.IsInRole
                (
                    Roles.Employee,
                    User.Claims?.Where(x => x.Type == ClaimTypes.Role)?.FirstOrDefault()?.Value!
                )
            )
            {
                <a href="/Items" class="navbarItem @Html.ActiveClass("/Items")">
                    Items
                </a>
            }
            @* TODO active link *@
            <a href="/Categories" class="navbarItem @Html.ActiveClass("/Categories")">Categories</a>
            <a href="/Retailers" class="navbarItem @Html.ActiveClass("/Retailers")">Retailers</a>
            @if (
                PermissionsHelper.IsInRole
                (
                    Roles.Admin,
                    User.Claims?.Where(x => x.Type == ClaimTypes.Role)?.FirstOrDefault()?.Value!
                )
            )
            {
                <a href="/Users" class="navbarItem @Html.ActiveClass("/Users")">
                    Users
                </a>
            }

            <a href="/Account/Details" class="navbarItem @Html.ActiveClass("/Account")">Account</a>

            @if (User.Identity.IsAuthenticated)
            {
                <div class="logout" style="margin-left: auto;">
                    @* TODO form POST *@
                    <form method="post" name="form-logout" asp-page="/Account/Logout" asp-area="">
                        <a onclick="onLogoutClicked(event)" href="/Account/Logout" style="margin:5px; text-decoration: none;">
                            Logout, 
                            <b>
                                <i>
                                    @ClaimsHelper.GetValueFromClaimsByKey(User.Claims.AsEnumerable(), ExtendedClaims.Type.Username)
                                </i>
                            </b>
                        </a>
                    </form>
                </div>
            }

    }
            @if (!User.Identity.IsAuthenticated)
            {
                <a class="login" href="/Account/Login">
                    Login
                </a>
            }
        </div>

</div>
