@page "/Categories/{CategoryId}/Edit"
@using SimpleDataManagementSystem.Frontend.Web.Razor.Pages.ViewComponents

@model SimpleDataManagementSystem.Frontend.Web.Razor.Pages.Categories.EditCategoryModel

@using Microsoft.Extensions.Localization
@inject IStringLocalizer<EditCategoryModel> loc

@{
    ViewData["Title"] = loc["Edit category"] + " - '" + (Model?.Category?.Name ?? "-") + "'";
}

<div class="header">
    <h1>@loc["Edit category"] - '<b>@Model?.Category?.Name</b>'</h1>
</div>


<br>


<div class="content-container">

    <!-- #region DisplayError -->
    @await Component.InvokeAsync(typeof(DisplayErrorViewComponent), Model?.Error)
    <!-- #endregion DisplayError -->

    <!-- #region ModelStateValidationErrors -->
    @await Component.InvokeAsync(typeof(InvalidModelStateViewComponent), ModelState)
    <!-- #endregion ModelStateValidationErrors -->

    <br>

    @if (Model?.Category != null)
    {
        <form method="post">
            <div class="form-controls-container">
                <div class="form-controls">

                    <div class="input-control single-per-line">
                        <div class="required">
                            <label>@loc["Name"]:</label>
                        </div>
                        <div>
                            <input type="text" name="name" value="@Model.Category.Name" />
                        </div>
                    </div>

                    <br>

                    <div class="input-control">
                        <div class="required">
                            <label>@loc["Priority"]:</label>
                        </div>
                        <div>
                            <input type="number" name="priority" value="@Model.Category.Priority" />
                        </div>
                    </div>

                </div>

                <br>

                <div>
                    <button class="button-default" type="submit">
                        @loc["Edit"]
                    </button>
                </div>

            </div>
        </form>
    }
</div>


