@page "/Users/{UserId:int}/Edit"

@using SimpleDataManagementSystem.Frontend.Web.Razor.Constants
@using SimpleDataManagementSystem.Frontend.Web.Razor.Pages.ViewComponents
@using SimpleDataManagementSystem.Shared.Common.Constants

@model SimpleDataManagementSystem.Frontend.Web.Razor.Pages.Users.EditUserModel

@using Microsoft.Extensions.Localization
@inject IStringLocalizer<EditUserModel> loc

@{
    ViewData["Title"] = loc["Edit user"] + " - '" + (Model?.User.Username ?? "-") + "'";
}


<div class="header">
    <h1>@loc["Edit user"] - <b>'@Model?.User?.Username'</b></h1>
</div>


<br>


<div class="content-container">

    <!-- #region DisplayError -->
    @await Component.InvokeAsync(typeof(DisplayErrorViewComponent), Model?.Error)
    <!-- #endregion DisplayError -->

    <!-- #region ModelStateValidationErrors -->
    @await Component.InvokeAsync(typeof(InvalidModelStateViewComponent), ModelState)
    <!-- #endregion ModelStateValidationErrors -->

    <br>

    @if (Model?.User != null)
    {
        <form method="post">
            <div class="form-controls-container">
                <div class="form-controls">

                    <br>

                    <div class="readonly-control single-per-line">
                        <div>
                            <label>@loc["Password change required"]:</label>
                        </div>
                        <div style="color: @(Model.User.IsPasswordChangeRequired ? "red" : "white")">
                            <em>
                                <label>@(Model.User.IsPasswordChangeRequired ? loc["Yes"] : loc["No"])</label>
                            </em>
                        </div>
                    </div>

                    <br>

                    <div class="input-control single-per-line">
                        <div class="required">
                            <label>@loc["Username"]:</label>
                        </div>
                        <div>
                            <input type="text" name="username" value="@Model.User.Username" />
                        </div>
                    </div>

                    <div>
                        <div class="required">
                            <label for="role">@loc["Role"]:</label>
                        </div>
                        <div>
                            <select id="role" name="roleId">
                                @foreach (var r in Model.AvailableRoles.Roles)
                                {
                                    <option value="@r.Id" selected="@(r.Id == Model.User.RoleId)">@loc[r.Name]</option>
                                }
                            </select>
                        </div>
                    </div>

                </div>

                <br>

                <div>
                    <button class="button-default" type="submit">
                        @loc["Edit"]
                    </button>
                </div>
            </div>
        </form>
    }

</div>


@section scripts {

    <script>
        $('form').submit(function(e) {
            $(':disabled').each(function(e) {
                $(this).removeAttr('disabled');
            })
        });
    </script>
}